@model int;
@if (Model > 0)
{
    @*<li class="nav-item">*@
        <a asp-controller="Orders" asp-action="NewShoppingCart"><img src="~/Template/img/icon/cart.png" alt=""> <span>@Model</span></a>
    @*</li>*@
}