@using El3edda.Data.Enums

@model El3edda.Models.Media

@{
    ViewData["Title"] = "Create";
    IEnumerable<El3edda.Models.Mobile> mobiles = new List<Mobile>();
    mobiles = (List<El3edda.Models.Mobile>)ViewBag.Mobiles;
}

<h1>Create</h1>

<h4>Media</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList(typeof(MediaType))" class="form-control" ></select >
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>

            <select class="form-select form-select-lg mb-3 mt-3" name="MobileId" >

                @foreach(var man in mobiles)
                {
                    <option value="@man.Id">@man.Name</option>
                }

            </select>

            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark mt-3">Back to List</a>
                <input type="submit" value="Create" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>
