@using El3edda.Data.ViewModels


@{
    ViewData["Title"] = "Order Completed";
}

<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2 class="">
            Order Completed Successfully
        </h2>
        <p>You can check all your orders in your profile</p>
        <hr />
        <h3>
            Thank you!
        </h3>

    </div>
</div>