@{
    ViewBag.Title = "About";
}


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text text-center">
                        <h4>About Us</h4>
                        <div class="breadcrumb__links">
                            <a href="@Url.Action("Index", "Home")">Home</a>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="breadcrumb__text text-center">
                        <br />
                        <h4 class"mb-3">The World's On Your Hand</h4>
                        <br />
                        <div class="breadcrumb__links">
                            <div class"mb-3">
                                <img src="~/Images/spider.jpg" style="opacity : .75;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__pic">
                        <img src="img/about/about-us.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="about__item">
                        <h4>Who We Are ?</h4>
                        <p>Contextual advertising programs sometimes have strict policies that need to be adhered too.
                        Let’s take Google as an example.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="about__item">
                        <h4>Who We Do ?</h4>
                        <p>In this digital generation where information can be easily obtained within seconds, business
                        cards still have retained their importance.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="about__item">
                        <h4>Why Choose Us</h4>
                        <p>A two or three storey house is the ideal way to maximise the piece of earth on which our home
                        sits, but for older or infirm people.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="testimonial__text">
                        <span class="icon_quotations"></span>
                        <p>“If you havn't bought a mobile from El-3edda store till now, you probably have to reconsider your existance value in this entire galaxy'.”
                        </p>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                                <img src="~/Images/albert.jfif" alt="">
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Albert Einstein</h5>
                                <p>El-3edda Explorer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="testimonial__pic set-bg" data-setbg="~/Images/albert.jfif"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Counter Section Begin -->
    <section class="counter spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="cn_num">102</h2>
                        </div>
                        <span>Our <br />Clients</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="cn_num">30</h2>
                        </div>
                        <span>Total <br />Categories</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="cn_num">102</h2>
                        </div>
                        <span>In <br />Country</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="cn_num">98</h2>
                            <strong>%</strong>
                        </div>
                        <span>Happy <br />Customer</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

    <!-- Team Section Begin -->
    <section class="team spad">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Team</span>
                        <h2>Meet Our Team</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center justify-content-center">
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="team__item text-center">
                        <img src="~/Images/hossam.jpg" alt="" class="rounded-circle"/>
                        <h4>Hossam Said</h4>
                        <span>Owner</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="team__item text-center">
                        <img src="~/Images/fathy.jpg" alt="" class="rounded-circle"/>
                        <h4>Mohamed Fathy</h4>
                        <span>C.E.O</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="team__item text-center">
                        <img src="~/Images/eslam.jpg" alt="" class="rounded-circle"/>
                        <h4>Eslam Mahrous</h4>
                        <span>General Manager</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="team__item text-center">
                        <img src="~/Images/abdo.jpg" alt="" class="rounded-circle"/>
                        <h4>Abdo Hashem</h4>
                        <span>C.T.O</span>
                    </div>
                </div>
                 <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="team__item text-center">
                        <img src="~/Images/saleh.jpeg" alt="" class="rounded-circle"/>
                        <h4>ِAhmed Saleh</h4>
                        <span>Technical Manager</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Client Section Begin -->
    <section class="clients spad">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Partner</span>
                        <h2>Happy Clients</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <a href="#" class="client__item"><img src="~/Images/hamobika.jpg" alt="" class="rounded-circle" style="width:"50%"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <a href="#" class="client__item"><img src="~/Images/bill gates.jpg" alt="" class="rounded-circle" style="width:"50%"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <a href="#" class="client__item"><img src="~/Images/Elon_Musk_Royal_Society_(crop2).jpg" alt="" class="rounded-circle" style="width:"50%"></a>
                </div>
                 <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <a href="#" class="client__item"><img src="~/Images/hamobika.jpg" alt="" class="rounded-circle" style="width:"50%"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <a href="#" class="client__item"><img src="~/Images/bill gates.jpg" alt="" class="rounded-circle" style="width:"50%"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <a href="#" class="client__item"><img src="~/Images/Elon_Musk_Royal_Society_(crop2).jpg" alt="" class="rounded-circle" style="width:"50%"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <a href="#" class="client__item"><img src="~/Images/bill gates.jpg" alt="" class="rounded-circle" style="width:"50%"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <a href="#" class="client__item"><img src="~/Images/Elon_Musk_Royal_Society_(crop2).jpg" alt="" class="rounded-circle" style="width:"50%"></a>
                </div>
            </div>
        </div>
    </section>    