@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center" height = 100vh>
    <h1 class="display-4 mt-5">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<div style="height: 600px">
</div>
</div>