@using El3edda.Data.Enums
@model El3edda.Models.MobileViewModel

@{
    ViewData["Title"] = "Create";
    IEnumerable<El3edda.Models.Manufacturer> manufactures = new List<Manufacturer>();
    manufactures = (List<El3edda.Models.Manufacturer>)ViewBag.Manufactures;
}

<h1>Create</h1>

<h4>Mobile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarrantyPeriod" class="control-label"></label>
                <input asp-for="WarrantyPeriod" class="form-control" />
                <span asp-validation-for="WarrantyPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitsInStock" class="control-label"></label>
                <input asp-for="UnitsInStock" class="form-control" />
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="custom-file">
                    <label asp-for="MainPhotoURL" class="control-label custom-file-label"></label>
                    <input asp-for="MainPhotoURL" class="form-control custom-file-input" type="file" />
                </div>
            </div>

             <div class="form-group">
                 <div class="custom-file">
                    <label asp-for="Media" class="control-label custom-file-label"></label>
                    <input asp-for="Media" class="form-control custom-file-input multiple" />
                </div>
            </div>

             <div class="form-group">
                <label asp-for="Specs.BatteryCapacity" class="control-label"></label>
                <input asp-for="Specs.BatteryCapacity" class="form-control" />
                <span asp-validation-for="Specs.BatteryCapacity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Specs.CameraMegaPixels" class="control-label"></label>
                <input asp-for="Specs.CameraMegaPixels" class="form-control" />
                <span asp-validation-for="Specs.CameraMegaPixels" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="Specs.Color" class="control-label"></label>
                <select asp-for="Specs.Color" asp-items="Html.GetEnumSelectList(typeof(Colors))" class="form-control" ></select >
                <span asp-validation-for="Specs.Color" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Specs.CPU" class="control-label"></label>
                <input asp-for="Specs.CPU" class="form-control" />
                <span asp-validation-for="Specs.CPU" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Specs.Height" class="control-label"></label>
                <input asp-for="Specs.Height" class="form-control" />
                <span asp-validation-for="Specs.Height" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Specs.Width" class="control-label"></label>
                <input asp-for="Specs.Width" class="form-control" />
                <span asp-validation-for="Specs.Width" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Specs.Thickness" class="control-label"></label>
                <input asp-for="Specs.Thickness" class="form-control" />
                <span asp-validation-for="Specs.Thickness" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Specs.OS" class="control-label"></label>
                <select asp-for="Specs.OS" asp-items="Html.GetEnumSelectList(typeof(OSEnum))" class="form-control" ></select>
                
                <span asp-validation-for="Specs.OS" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Specs.Screen" class="control-label"></label>
                <select asp-for="Specs.Screen" asp-items="Html.GetEnumSelectList(typeof(ScreenEnum))" class="form-control"></select>
                <span asp-validation-for="Specs.Screen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Specs.Weight" class="control-label"></label>
                <input asp-for="Specs.Weight" class="form-control" />
                <span asp-validation-for="Specs.Weight" class="text-danger"></span>
            </div>

            <select class="form-select form-select-lg mb-3 mt-3" name="ManufacturerId" >

                @foreach(var man in manufactures)
                {
                    <option value="@man.Id">@man.Name</option>
                }

            </select>


            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark mt-3">Back to List</a>
                <input type="submit" value="Create" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}
