@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model specSearchParamter;
@{
}
<form asp-action="Index">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="d-sm-inline-flex justify-content-between">
        <form class="form-inline my-2 my-lg-0" asp-action="Index" style="padding-right: 25px;">
            <input asp-for="text_search" id="main_search" class="form-control" placeholder="Search for a mobile..." aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
        </form>
    </div>

    <br />

    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-infoHeading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-info" aria-expanded="false"
                        aria-controls="panelsStayOpen-info">
                    selling info
                </button>
            </h2>
            <div id="panelsStayOpen-info" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-infoHeading">
                <div class="accordion-body">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-dollar"></i>
                        </span>
                        <div class="form-group">
                            <input asp-for="priceHiegher" class="form-control" placeholder="price from" />
                            <span asp-validation-for="priceHiegher" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="priceLower" class="form-control" placeholder="price to" />
                            <span asp-validation-for="priceLower" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-clock"></i>
                        </span>
                        <div class="form-group">

                            <input asp-for="warrentyPeriodHiger" class="form-control" placeholder="warrenty minimum" />
                            <span asp-validation-for="warrentyPeriodHiger" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <input asp-for="warrentyPeriodLower" class="form-control" placeholder="warrenty maximum" />
                            <span asp-validation-for="warrentyPeriodLower" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-calendar"></i>
                        </span>
                        <div class="form-group">

                            <input asp-for="releasebefore" type="date" class="form-control" placeholder="release after" />
                            <span asp-validation-for="releasebefore" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <input asp-for="releaseafter" type="date" class="form-control" placeholder="release before" />
                            <span asp-validation-for="releaseafter" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="input-group">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="InStock" /> @Html.DisplayNameFor(model
                                =>
                                model.InStock)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-dimesion" aria-expanded="false"
                        aria-controls="panelsStayOpen-dimesion">
                    mobile dimentions
                </button>
            </h2>
            <div id="panelsStayOpen-dimesion" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-dimesion">
                <div class="accordion-body">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-arrows-up-down"></i>
                        </span>
                        <div class="form-group">
                            <input asp-for="HeightLower" class="form-control" placeholder="height from" />
                            <span asp-validation-for="HeightLower" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="HeightHiger" class="form-control" placeholder="height to" />
                            <span asp-validation-for="HeightHiger" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-arrows-left-right"></i>
                        </span>
                        <div class="form-group">
                            <input asp-for="WidthLower" class="form-control" placeholder="width from" />
                            <span asp-validation-for="WidthLower" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="WidthHiger" class="form-control" placeholder="width to" />
                            <span asp-validation-for="WidthHiger" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                        </span>
                        <div class="form-group">
                            <input asp-for="ThicknessLower" class="form-control" placeholder="thickness from" />
                            <span asp-validation-for="ThicknessLower" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="ThicknessHiger" class="form-control" placeholder="thickness to" />
                            <span asp-validation-for="ThicknessHiger" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-weight-hanging"></i>
                        </span>
                        <div class="form-group">
                            <input asp-for="WeightLower" class="form-control" placeholder="weight from" />
                            <span asp-validation-for="WeightLower" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="WeightHiger" class="form-control" placeholder="weight to" />
                            <span asp-validation-for="WeightHiger" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-camera" aria-expanded="false" aria-controls="panelsStayOpen-camera">
                    camera props
                </button>
            </h2>
            <div id="panelsStayOpen-camera" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-camera">
                <div class="accordion-body">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-camera"></i>
                        </span>
                        <div class="form-group">
                            <input asp-for="CameraMegaPixelsLower" class="form-control" placeholder="megapixel from" />
                            <span asp-validation-for="CameraMegaPixelsLower" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="CameraMegaPixelsHiger" class="form-control" placeholder="megapixel to" />
                            <span asp-validation-for="CameraMegaPixelsHiger" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-harwareHeading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-hardware" aria-expanded="false" aria-controls="panelsStayOpen-hardware">
                    harware properties
                </button>
            </h2>
            <div id="panelsStayOpen-hardware" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-harwareHeading">
                <div class="accordion-body">
                    <div class="input-group">
                        <div class="form-group">
                            <input asp-for="BatteryCapacityLower" class="form-control" placeholder="capacity from" />
                            <span asp-validation-for="BatteryCapacityLower" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="BatteryCapacityHiger" class="form-control" placeholder="capacity to" />
                            <span asp-validation-for="BatteryCapacityHiger" class="text-danger"></span>
                        </div>
                    </div>
                    @* <div class="form-group">
                        <input asp-for="RAMLower" class="form-control" />
                        <span asp-validation-for="RAMLower" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                        <input asp-for="RAMHiger" class="form-control" />
                        <span asp-validation-for="RAMHiger" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                        <input asp-for="ROMLower" class="form-control" />
                        <span asp-validation-for="ROMLower" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                        <input asp-for="ROMHiger" class="form-control" />
                        <span asp-validation-for="ROMHiger" class="text-danger"></span>
                        </div> *@

                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="apply" class="btn btn-primary" />
    </div>
</form>
