@model string
@if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
{
    <div style="position:fixed; right:25px; bottom:20px; z-index:999" class="text-white">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add New
        </a>
    </div>

}