@using El3edda.Data.ViewModels
@model LoginVM;

@{
    ViewData["Title"] = "Login";
}

@*<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>
                Login to your account
            </h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry</b> - @TempData["Error"]</span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-outline-success float-right" value="Login" />
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@

@if(User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
{
   
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<section class="my-4">
  <div class="container-fluid ">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" asp-for="Email"></label>
            <input asp-for="Email" class="form-control form-control-lg"
              placeholder="Enter a valid email address" />
             <span asp-validation-for="Email" class="text-danger"></span>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" asp-for="Password"></label>
            <input asp-for="Password" type="password"  class="form-control form-control-lg"
              placeholder="Enter password" />
             <span asp-validation-for="Password" class="text-danger"></span>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <input type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Submit"/>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a asp-action="Register"
                class="link-danger">Register</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>