@using El3edda.Data.ViewModels


@{
    ViewData["Title"] = "Order Completed";
}

<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2 class="">
            Registeration Completed Successfully
        </h2>
        <p>You can now login to your account</p>
    </div>
</div>